@import url('https://fonts.googleapis.com/css2?family= Birthstone +Bounce & display=swap');

/*configurações*/
body,ul{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; 
   color: rgba(255,255,255,0.889); 
    font-family: Brush Script MT;
     font-size: 28px;
     font-weight: 100;
}
img{width: 100%; height: 100%;}
*{box-sizing: border-box;}
a:hover{background-color: rgba(0,0,0,0.1); color: white;}


#column-gap{
  column-gap: 20px;
}

.navbar-collapse{
  flex-grow:0;
}

.navbar-brand{
  font-size: 35px;
}

#container-img{
  max-height: 690px;
}

/*secao de comida*/
.food{
  background-color: rgb(233,233,209);
  padding-bottom: 100px;
}

.food h3{
  padding: 40px 0px;
  font-size: 50px;
  font-family: Brush Script MT;
}

.description{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: 80% auto;
  width: 100%;
  height:auto;
  padding: 15px;
  background-color: rgb(120,120,0);
  border-top: 3px solid #fff;
}

.description div{
  grid-area: 2/1/2/span 2;
  display: flex;
  justify-content: space-between;
}

.description p{
  grid-area: 1/1/1/span 2;
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  font-family: Brush Script MT;
  font-weight: 600;
}

.description .value{
  display: block;
  font-size: 20px;
  font-weight: 600;
  font-family: arial;
  text-align: center;
}

.description .buy{
  font-size: 20px;
  font-weight: 100;
  font-family: arial;
  cursor: pointer;
  transition: .1s;
  text-align: center;
}

.description .buy:hover{
  font-weight: 600;
}

/*main contatoendereços de contato*/
#address-text{
   margin: 50px 0px;
   text-align: center;
   font-family: Brush Script MT;
   font-size: 50px; 
}

#footer{
  background-color: rgb(50,50,0);
  padding:30px 10px;
}

#footer div{
  margin:25px 0px;
}

#footer div p{
  color: rgb(250,250,215);
  font-size: 28px;
}

#footer div span{
  color: #fff!important;
  font-size: 25px;
  display: block;
}

#rede-social-container{
    display: flex;
    justify-content: center;
    height: 70px;
    width:100%;
    column-gap:15px;
}

.rede-social{
  width: 45px;
  height: 45px;
  cursor:pointer;
}

.rede-social img{
    border-radius:50%;
}


